.spacer {
    margin-top: 5px;
}

.hide {
    display: none;
}

.error {
    color: red;
}

.clear {
    clear: both;
}

/*
nav-list for sidebar
*/
.nav-list {
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 0;
}

.nav-list>li>a,.nav-list .nav-header,.nav-list-sm>li>a,.nav-list-sm .nav-header
    {
    margin-right: -15px;
    margin-left: -15px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.nav-list>li>a,.nav-list-sm>li>a {
    padding: 3px 15px;
}

.nav-list>.active>a,.nav-list>.active>a:hover,.nav-list-sm>.active>a,.nav-list-sm>.active>a:hover
    {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    background-color: #0088cc;
}

.nav-list [class^="icon-"],.nav-list [class*=" icon-"] {
    margin-right: 2px;
}

.nav-list .divider {
    *width: 100%;
    height: 1px;
    margin: 9px 1px;
    *margin: -5px 0 5px;
    overflow: hidden;
    background-color: #e5e5e5;
    border-bottom: 1px solid #ffffff;
}

.nav-header {
    display: block;
    padding: 3px 15px;
    font-size: 11px;
    font-weight: bold;
    line-height: 20px;
    color: #999999;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
}
/* end nav-list */
ul#users-inner,ul#groups-inner {
    height: 0px;
}

/*responsive table*/
.cf:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

* html .cf {
    zoom: 1;
}

*:first-child+html .cf {
    zoom: 1;
}

.rt {
    width: 100%;
    font-size: 0.75em; /*12*/
    line-height: 1.25em; /*15*/
    border-collapse: collapse;
    border-spacing: 0;
}

.rt th,.rt td {
    margin: 0;
    padding: 0.4166em; /*10*/
    vertical-align: top;
    border: 1px solid #babcbf;
    background: #fff;
}

.rt th {
    text-align: left;
    background: #fff2b2;
}

@media only screen and (max-width: 40em) { /*640*/
    #rt1 {
        display: block;
        position: relative;
        width: 100%;
    }
    #rt1 thead {
        display: block;
        float: left;
    }
    #rt1 tbody {
        display: block;
        width: auto;
        position: relative;
        overflow-x: auto;
        white-space: nowrap;
    }
    #rt1 thead tr {
        display: block;
    }
    #rt1 th {
        display: block;
        line-height: 3.333333em;
    }
    #rt1 tbody tr {
        display: inline-block;
        vertical-align: top;
    }
    #rt1 td {
        display: block;
        min-height: 1.25em;
    }

    /* sort out borders */
    .rt th {
        border-bottom: 0;
    }
    .rt td {
        border-left: 0;
        border-right: 0;
        border-bottom: 0;
    }
    .rt tbody tr {
        border-right: 1px solid #babcbf;
    }
    .rt th:last-child,.rt td:last-child {
        border-bottom: 1px solid #babcbf;
    }
}

/*end responsive table*/
.table-auto {
    width: auto;
}

th {
    cursor: pointer;
    font-weight: bold;
    background-repeat: no-repeat;
    background-position: center right;
    padding-left: 20px;
    border-right: 1px solid #dad9c7;
    margin-left: -1px;;
}

th.sorting {
    background-image: url(../img/unsorted.gif);
}

th.sorting_asc {
    background-image: url(../img/small_desc.gif);
}

th.sorting_desc {
    background-image: url(../img/small_asc.gif);
}

div#grpListTable_paginate a,div#empListTable_paginate a,div#costCenterListTable_paginate a,div#clientListTable_paginate a
    {
    border: 1px solid #aaa;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 2px 5px;
    margin: 0 3px;
    cursor: pointer;
    *cursor: hand;
    background-color: #ddd;
}

div.dataTables_paginate a:hover {
    background-color: #ccc;
}

div.dataTables_paginate {
    float: right;
    margin: -10px;
    line-height: 22px;
}

.progressBar {
    height: 18px;
    background: green;
}

.checkBoxRow {
    vertical-align: middle;
}

ul.ui-multiselect-checkboxes  input[type="checkbox"],ul.ui-multiselect-checkboxes  span
    {
    width: auto;
    vertical-align: top;
}

ul.ui-multiselect-checkboxes  span {
    margin-left: 3px;
}

button.ui-multiselect {
    line-height: 24px;
    font-size: 14px;
}