.spacer {
    margin-top: 7px;
}

.spacer-tall {
     margin-top: 10px;
    margin-bottom: 10px;
}

.hide {
    display: none;
}

.error {
    color: red;
}

.clear {
    clear: both;
}

div.horizontalRule {
    min-height: 1px;
    clear:both; width:100%;
    border-bottom:2px solid #d1d1d1;
    height:1px; padding-top:5px;
    margin-top:5px;
    margin-bottom:5px;
}

/*
nav-list for sidebar
*/
.nav-list {
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 0;
}

.nav-list>li>a,.nav-list .nav-header,.nav-list-sm>li>a,.nav-list-sm .nav-header
    {
    margin-right: -15px;
    margin-left: -15px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.nav-list>li>a,.nav-list-sm>li>a {
    padding: 3px 15px;
}

.nav-list>.active>a,.nav-list>.active>a:hover,.nav-list-sm>.active>a,.nav-list-sm>.active>a:hover
    {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    background-color: #0088cc;
}

.nav-list [class^="icon-"],.nav-list [class*=" icon-"] {
    margin-right: 2px;
}

.nav-list .divider {
    *width: 100%;
    height: 1px;
    margin: 9px 1px;
    *margin: -5px 0 5px;
    overflow: hidden;
    background-color: #e5e5e5;
    border-bottom: 1px solid #ffffff;
}

.nav-header {
    display: block;
    padding: 3px 15px;
    font-size: 11px;
    font-weight: bold;
    line-height: 20px;
    color: #999999;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
}

/* end nav-list */
ul#users-inner,ul#groups-inner {
    height: 0px;
}

.border {
    border: 3px solid #808080;
    padding: 5px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
}

/*responsive table*/
.cf:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

* html .cf {
    zoom: 1;
}

*:first-child+html .cf {
    zoom: 1;
}

.rt {
    width: 100%;
    font-size: 0.75em; /*12*/
    line-height: 1.25em; /*15*/
    border-collapse: collapse;
    border-spacing: 0;
}

.rt th,.rt td {
    margin: 0;
    padding: 0.4166em; /*10*/
    vertical-align: top;
    border: 1px solid #babcbf;
    background: #fff;
}

.rt th {
    text-align: left;
    background-color: #3092BE;
    color: white;
    cursor: pointer;
    font-weight: bold;
    background-repeat: no-repeat;
    background-position: center right;
    padding-left: 20px;
    border-right: 1px solid #dad9c7;
    margin-left: -1px;
}

@media only screen and (max-width: 40em) { /*640*/
    #timesheetTable,#empListTable,#grpListTable,#costCenterListTable,#clientListTable,#hrTimesheetTable,#timesheetSummaryTable
        {
        display: block;
        position: relative;
        width: 100%;
    }
    #timesheetTable thead,#empListTable thead,#grpListTable thead,#costCenterListTable thead,#clientListTable thead,#hrTimesheetTable thead,#timesheetSummaryTable thead
        {
        display: block;
        float: left;
    }
    #timesheetTable tbody,#empListTable tbody,#grpListTable tbody,#costCenterListTable tbody,#clientListTable tbody,#hrTimesheetTable tbody,#timesheetSummaryTable tbody
        {
        display: block;
        width: auto;
        position: relative;
        overflow-x: auto;
        white-space: nowrap;
    }
    #timesheetTable thead tr,#empListTable thead tr,#grpListTable thead tr,#costCenterListTable thead tr,#clientListTable thead tr,#hrTimesheetTable thead tr,#timesheetSummaryTable thead tr
        {
        display: block;
    }
    #timesheetTable th {
        display: block;
        line-height: 3.333333em;
    }
    #empListTable th,#grpListTable th,#costCenterListTable th,#clientListTable th,#hrTimesheetTable th,#timesheetSummaryTable th
        {
        display: block;
        background-repeat: no-repeat;
        background-position: center left;
        padding-left: 20px;
        border-right: 1px solid #dad9c7;
        margin-left: -1px;
        width: auto;
    }
    #timesheetTable tbody tr,#empListTable tbody tr,#grpListTable tbody tr,#costCenterListTable tbody tr,#clientListTable tbody tr,#hrTimesheetTable tbody tr,#timesheetSummaryTable tbody tr
        {
        display: inline-block;
        vertical-align: top;
    }
    #timesheetTable td,#empListTable td,#grpListTable td,#costCenterListTable td,#clientListTable td,#hrTimesheetTable td,#timesheetSummaryTable td
        {
        display: block;
        min-height: 1.25em;
    }

    /* sort out borders */
    .rt th {
        border-bottom: 0;
    }
    .rt td {
        border-left: 0;
        border-right: 0;
        border-bottom: 0;
    }
    .rt tbody tr {
        border-right: 1px solid #babcbf;
    }
    .rt th:last-child,.rt td:last-child {
        border-bottom: 1px solid #babcbf;
    }
}

/*end responsive table*/
.table-auto {
    width: auto;
}

th {
    cursor: pointer;
    font-weight: bold;
    background-repeat: no-repeat;
    background-position: center right;
    padding-left: 20px;
    border-right: 1px solid #dad9c7;
    margin-left: -1px;
}

th.sorting {
    background-image: url(../img/unsorted.gif);
}

th.sorting_asc {
    background-image: url(../img/small_desc.gif);
}

th.sorting_desc {
    background-image: url(../img/small_asc.gif);
}

div.dataTables_paginate a {
    border: 1px solid #aaa;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 2px 5px;
    margin: 0 0 0 1px;
    color: #ffffff;
    background-color: #3092BE;
    border-color: #46b8da;
    cursor: pointer;
}

div.dataTables_paginate a:hover {
    color: #333333;
    background-color: #ebebeb;
    border-color: #adadad;
}

div.dataTables_paginate {
    float: right;
    line-height: 22px;
}

input#dp, input#employees-auto,
div.dataTables_filter input[type="text"] {
    border: 2px solid #aaa;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.progressBar {
    height: 18px;
    background: green;
}

.checkBoxRow {
    vertical-align: middle;
}

ul.ui-multiselect-checkboxes  input[type="checkbox"],ul.ui-multiselect-checkboxes  span
    {
    width: auto;
    vertical-align: top;
}

ul.ui-multiselect-checkboxes  span {
    margin-left: 3px;
}

button.ui-multiselect {
    line-height: 24px;
    font-size: 14px;
}
/*--- styles for typeahead */
.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
  margin-bottom: 0;
}

.tt-dropdown-menu {
  min-width: 160px;
  margin-top: 2px;
  padding: 5px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}

.tt-suggestion {
  display: block;
  padding: 3px 20px;
}

.tt-suggestion.tt-is-under-cursor {
  color: #fff;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0)
}

.tt-suggestion.tt-is-under-cursor a {
  color: #fff;
}

.tt-suggestion p {
  margin: 0;
}

.tt-hint {
    display: none;
}
/*--- end styles for typeahead */